__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/
dist-test/
*.whl
*.log
*.bak
.Rhistory
cloud_mounts/
secrets/*
!secrets/.gitkeep
*.json
.rclone.config*
